<!DOCTYPE html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://kit.fontawesome.com/50659eceb1.js" crossorigin="anonymous"></script>
    {% endblock %}
    <title>HOME</title>
</head>
<body>
    {{ include('_nav.html.twig') }}
    <main>
        {{ include('_header.html.twig') }}
        <section class="main-container">
            {% if memes|length == 0 %}
                <p> No memes found! </p>
            {% endif %}
            {{ include('_memes.html.twig') }}
        </section>
    </main>
</body>