<!DOCTYPE html>
<head>
    <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
    <title>Log in!</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="{{ asset('img/logo.svg') }}">
    </div>
    <div class="login-container">
        <form class="log-in" method="post">
            {% if error %}
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <input type="email" name="email" value="{{ last_username }}" id="inputEmail" required autofocus>
            <input name="password" type="password" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit">LOGIN</button>
        </form>
    </div>
    <div>
        <a class="switch" href="{{ path('register') }}">Register</a>
    </div>
</div>
</body>