{% block javascrepist %}
    <script src="{{ asset('js/statistics.js') }}" type="text/javascript" defer></script>
    <script src="{{ asset('js/memes.js') }}" type="text/javascript" defer></script>
{% endblock %}
<div class="memes">
    {% for meme in memes %}
        <div class="meme" id="{{ meme.getSlug }}">
            <a href="{{ path('meme', {'slug':meme.getSlug}) }}">
                <img src="uploads/{{ asset(meme.getImage) }}">
            </a>
            <div class="info">
                <h1>
                    {{ meme.getTitle }}
                    {% if app.user == meme.createdBy or is_granted('ROLE_ADMIN') %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}
                </h1>

                <div class="description">
                    <h2>{{ meme.createdBy.getEmail }}</h2>
                    <h2>{{ meme.getCreatedAt|date("d-m-Y") }}</h2>
                </div>
                <div class="social-section">
                    <i class="fas fa-thumbs-up">
                        <span>{{ meme.getLikes|length }}</span>
                    </i>
                    </a>
                    <a href="{{ path('meme', {'slug':meme.getSlug}) }}">Comments({{ meme.getComments|length }})</a>
                    <i class="fas fa-thumbs-down">
                        <span>{{ meme.getDislikes|length }}</span>
                    </i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>