{% block javascripts %}
    <script src="{{ asset('js/statistics.js') }}" type="text/javascript" defer></script>
{% endblock %}
<div class="memes">
    {% for meme in memes %}
        <div class="meme" id="{{ meme.getSlug }}">
            <a href="{{ path('meme', {'slug':meme.getSlug}) }}">
                <img src="uploads/{{ asset(meme.getImage) }}">
            </a>
            <div class="info">
                <h1> {{ meme.getTitle }} </h1>
                <div class="description">
                    <h2 id="email">{{ meme.createdBy.getEmail }}</h2>
                    <h2 id="date">{{ meme.getCreatedAt|date("Y-m-d") }}</h2>
                </div>
                <div class="social-section">
                    <i class="fas fa-thumbs-up">
                        <span>{{ meme.getLikes|length }}</span>
                    </i>
                    <a href="{{ path('meme', {'slug':meme.getSlug}) }}">Comments({{ meme.getComments|length }})</a>
                    <i class="fas fa-thumbs-down">
                        <span>{{ meme.getDislikes|length }}</span>
                    </i>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<template id="meme-template">
    <div class="meme" id="">
        <a href="">
            <img src="">
        </a>
        <div class="info">
            <h1> title </h1>
            <div class="description">
                <h2 id="email"> email </h2>
                <h2 id="date"> date </h2>
            </div>
            <div class="social-section">
                <i class="fas fa-thumbs-up">
                    <span> 0 </span>
                </i>
                <a href="">Comments(0)</a>
                <i class="fas fa-thumbs-down">
                    <span>0</span>
                </i>
            </div>
        </div>
    </div>
</template>
