<nav>
    <img src="{{ asset('img/logo.svg') }}">
    <ul>
        <li>
            <i class="fas fa-home"></i>
            <a href="{{ path('home') }}" class="button">Home</a>
        </li>
        <li>
            <i class="fas fa-trophy"></i>
            <a href="{{ path('top10') }}" class="button">TOP10</a>
        </li>
        <li>
            <i class="fas fa-user"></i>
            <a href="{{ path('user') }}" class="button">Users</a>
        </li>
        <li>
            <i class="fas fa-plus-circle"></i>
            <a href="{{ path('add') }}" class="button">Add</a>
        </li>
    </ul>
</nav>